<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>my-vue</title>
    <style>
      li.done{
        text-decoration: line-through;
        color: red;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <p>{{title}}</p>
      <p v-if="showSubtitle">{{subtitle}}</p>
      <div>
        <input type="text" v-model="mytodo"/>
        <button @click="handleClick">添加</button>
        <button @click="cleanClick">清空</button>
      </div>
      <ul>
        <li :class="{'done':todo.done}"   @click="toggle(index)" v-for="(todo,index) in todos">{{index+1}} : {{todo.text}}</li>
      </ul>
      <p>{{remain}}/{{todos.length}}</p>
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
